$font-family-icon: 'FontAwesome' !default;

label {
  display: inline-block;
  margin: 1px 1px;
}
input[type='radio'],
input[type='checkbox'] {
  display: none;
}
input[type='radio'] + span:before,
input[type='checkbox'] + span:before {
  font-family: $font-family-icon;
  font-size: 16px;
  display: inline-block;
  width: 18px;
  color: $input-color;
}

input[type='radio'] + span:before {
  content: '\f1db';
}
input[type='radio']:checked + span:before {
  content: '\f192';
}
input[type='checkbox'] + span:before {
  content: '\f096';
}
input[type='checkbox']:checked + span:before {
  content: '\f046';
}

@mixin input-variant($parent, $color) {
  #{$parent} input[type='checkbox'] + span::before,
  #{$parent} input[type='radio'] + span::before{
    color: $color;
  }
  #{$parent} > span{
    color: $color;
  }
}

@include input-variant('.input-primary', $brand-primary);
@include input-variant('.input-danger', $brand-danger);
@include input-variant('.input-info', $brand-info);
@include input-variant('.input-warning', $brand-warning);
@include input-variant('.input-success', $brand-success);
