// Bootstrap overrides

// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                 #2a2c36;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #d1d4d7;
$gray-lightest:             #f8f9fa;

//$brand-primary:             #20a8d8;
//$brand-success:             #79c447;
//$brand-info:                #67c2ef;
//$brand-warning:             #fabb3d;
//$brand-danger:              #ff5454;
$brand-primary:         #003d79;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #de6764; //#d9534f;
$brand-secondary:       #7BB77C;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-transitions:        true;
$enable-rounded:            false;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
  q: (
    x:   ($spacer-x * 0.25),
    y:   ($spacer-y * 0.25)
  ),
  h: (
    x:   ($spacer-x * 0.5),
    y:   ($spacer-y * 0.5)
  ),
  0: (
    x:   0,
    y:   0
  ),
  1: (
    x:   $spacer-x,
    y:   $spacer-y
  ),
  2: (
    x:   ($spacer-x * 1.5),
    y:   ($spacer-y * 1.5)
  ),
  3: (
    x:   ($spacer-x * 3),
    y:   ($spacer-y * 3)
  )
);

// Body
//
// Settings for the `<body>` element.

$body-bg:                    #e4e5e6;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base:             0.875rem;

// Breadcrumbs

$breadcrumb-bg:                 #fff;

// Cards

$card-border-color:        $gray-lighter;
$card-cap-bg:              $gray-lightest;

// Dropdowns

$dropdown-padding-y:             0;
$dropdown-border-color:          $gray-lighter;
$dropdown-divider-bg:            $gray-lightest;

// Buttons

$btn-secondary-border:          $gray-light;

// Progress bars

$progress-bg:                   $gray-lightest;

// Tables

$table-bg-accent:               $gray-lightest;
$table-bg-hover:                $gray-lightest;
