<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card" ng-controller="mainChartCtrl">
        <h4 class="card-header">Gebruikers</h4>
        <div class="card-block">
          <div class="row">
            <div class="col-md-8 px-2">
              Volgt...
            </div>
            <div class="col-md-4 px-2">
            </div>
          </div>
        </div>
      </div><!--/.card-->
    </div>
  </div>

</div>
