<div class="app app-primary flex-row align-items-center animated fadeIn">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-md-6 col-md-offset-3">
        <div class="card p-2 card-inverse card-primary" *ngIf="!authenticated">
          <div class="text-center">
            <img class="card-img-top" src="../../assets/img/logo.svg" alt="Card image cap" style="width: 16rem;">
          </div>
          <div class="card-block">
            <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
              <div class="form-group">
                <h2 class="hidden-xs-down">HekMon</h2>
                <p class="hidden-sm-down">Hektec Monitoring</p>
              </div>
              <div class="form-group"
                   [ngClass]="{'has-error':!loginForm.controls['email'].valid && loginForm.controls['email'].touched}">

                <input class="form-control" type="text" placeholder="Email"
                       [formControl]="loginForm.controls['email']">
                <p *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched"
                   class="form-text text-muted">
                  Email is verplicht
                </p>

              </div>
              <div class="form-group"
                   [ngClass]="{'has-error':!loginForm.controls['password'].valid && loginForm.controls['password'].touched}">
                <input class="form-control" type="password" placeholder="Wachtwoord"
                       [formControl]="loginForm.controls['password']">
                <p *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched"
                  class="form-text text-muted">
                  Wachtwoord is verplicht
                </p>

              </div>
              <div class="form-group">
                <p *ngIf="errorMsg && loginForm.touched"
                   class="form-text text-muted">
                  Wachtwoord is verplicht
                </p>
                <button type="submit" class="btn btn-warning btn-block" [disabled]="!loginForm.valid" ladda="loading" data-style="expand-right">
                  <span *ngIf="!loading"> Log in </span>
                  <span *ngIf="loading"><i class="fa fa-spinner fa-pulse fa-fw"></i> Inloggen... </span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- If the user is authenticated we’ll display their profile picture and email as well as provide a way to logout -->
        <div class="card p-2 card-inverse card-primary" *ngIf="authenticated">
          <h2>Welcome, {{profile.email}}</h2>
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
