<div class="app flex-row align-items-center animated fadeIn">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card-deck">
          <div class="card"
               *ngFor="let project of projects; let i = index"
               (click)="select(i)"
               [class.card-accent-primary]="i == selectedProject">
            <div class="card-header">
              {{project.identity}}
              <button type="button" class="btn btn-sm pull-right"
                      [class.btn-outline-primary]="i == selectedProject"
                      (click)="goToProject(project)"
                      aria-label="Go">
                <span aria-hidden="true">Open</span>
              </button>
            </div>
            <div class="card-block">
              <h4 class="card-title">{{project.title}}</h4>
              <p class="card-text">{{project.description}}</p>
              <p class="card-text">{{project.notes}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Laatste meting: {{project?.deformation_run_max | date: 'medium'}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
