<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-map-pin"></i> Meetinstrumenten
        </div>
        <div class="card-block">
          <p>Overzicht meetinstrumenten</p>
          <table class="table table-striped" [mfData]="appliances" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
            <tr>
              <th style="width: 10%">
                <mfDefaultSorter by="identity">Nr</mfDefaultSorter>
              </th>
              <th style="width: 30%">
                <mfDefaultSorter by="title">Naam</mfDefaultSorter>
              </th>
              <th style="width: 30%">
                <mfDefaultSorter by="run">Laatste meting</mfDefaultSorter>
              </th>
              <th style="width: 10%">
                <mfDefaultSorter by="sensor_count">Meetpunten</mfDefaultSorter>
              </th>
              <th style="width: 10%">
                <mfDefaultSorter by="offline">Status</mfDefaultSorter>
              </th>
              <th style="width: 10%"> Details</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of mf.data">
              <td>{{item.identity}}</td>
              <td>
                <span *ngIf="!isAdmin" [title]="item.description">{{item.title}}</span>
                <button *ngIf="isAdmin" class="btn btn-link" (click)="edit(item, content)">{{item.title}}</button>
              </td>
              <td>
                <span *ngIf="item.active">{{item.run | date: 'mediumDate'}}, {{item.run | date: 'shortTime'}}</span>
                <span *ngIf="!item.active">...</span>
              </td>
              <td>{{item.sensor_count}}</td>
              <td>
                <span class="badge badge-default" *ngIf="!item.active">Onderhoud</span>
                <span class="badge badge-success" *ngIf="!item.offline && item.active">Online</span>
                <span class="badge badge-danger" *ngIf="item.offline && item.active">Offline</span>
              </td>
              <td>
                <button class="btn btn-sm btn-secondary"
                        *ngIf="!isAdmin"
                        [disabled]="!item.active"
                        (click)="navigateTo(item.id)">
                  <i class="fa fa-feed"></i><span class="hidden-lg-down"> Metingen</span>
                </button>
                <button class="btn btn-sm btn-secondary"
                        *ngIf="isAdmin"
                        (click)="navigateTo(item.id)">
                  <i class="fa fa-feed"></i><span class="hidden-lg-down"> Metingen</span>
                </button>
              </td>
            </tr>
            </tbody>

          </table>

        </div>
      </div>
    </div>

  </div>

  <template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{currentAppliance.title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <label class="col-md-3 form-control-label" for="hf-email">Naam</label>
        <div class="col-md-9">
          <input type="text" id="hf-email" name="hf-email" class="form-control" [(ngModel)]="currentAppliance.title">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 form-control-label" for="hf-password">Beschrijving</label>
        <div class="col-md-9">
          <input type="text" id="hf-password" name="hf-password" class="form-control"
                 [(ngModel)]="currentAppliance.description">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 form-control-label" for="hf-password">Aantekening</label>
        <div class="col-md-9">
          <textarea class="form-control" rows="5" id="comment" [(ngModel)]="currentAppliance.notes"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-6 form-control-label">Status</label>
        <div class="col-md-6">
          <div class="radio">
            <label>
              <input type="checkbox" id="appliance1" name="appliance" [(ngModel)]="currentAppliance.maintenance"
                     value="">
              <span>In onderhoud</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Opslaan</button>
    </div>
  </template>

</div>
