<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">DataTable</div>
    <div class="card-block">
      <div class="row mb-1">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <span class="input-group-addon" disabled><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Filter op project nummer" disabled/>
          </div>
        </div>
      </div>
      <table class="table table-striped" [mfData]="projects | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
          <th style="width: 10%">
            <mfDefaultSorter by="identity">Nummer</mfDefaultSorter>
          </th>
          <th style="width: 30%">
            <mfDefaultSorter by="title">Titel</mfDefaultSorter>
          </th>
          <th style="width: 30%">
            <mfDefaultSorter by="description">Beschrijving</mfDefaultSorter>
          </th>
          <th style="width: 30%">
            <mfDefaultSorter by="notes">Aantekeningen</mfDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of mf.data">
          <td>{{item.identity}}</td>
          <td>{{item.title}}</td>
          <td class="text-right">{{item.description}}</td>
          <td>{{item.notes | uppercase}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4">
            <!--<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>-->
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
