<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-feed"></i> Meetpunt {{sensor?.identity}}
        </div>
        <div class="card-header">
          <div [(ngModel)]="run" ngbRadioGroup name="run">
            <label class="btn btn-sm btn-outline-primary">
              <input type="radio" value="∞"> Alles
            </label>
            <label class="btn btn-sm btn-outline-primary">
              <input type="radio" value="month"> Maand
            </label>
            <label class="btn btn-sm btn-outline-primary">
              <input type="radio" value="week"> Week
            </label>
            <label class="btn btn-sm btn-outline-primary">
              <input type="radio" value="yesterday"> 2 dagen
            </label>
            <label class="btn btn-sm btn-outline-primary">
              <input type="radio" value="today"> 1 dag
            </label>
          </div>
          <div class="pull-right" *ngIf="isAdmin">
            <div class="radio">
              <label>
                <input type="checkbox" id="omit" name="omit" [(ngModel)]="showOmit"
                       value="">
                <span>Uitgesloten metingen</span>
              </label>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-md-8 px-2">
              <strong class="text-dark">Nummer</strong>: {{sensor?.identity || sensor?.title || 'no data'}}<br>
              <!--<strong class="text-dark">Code</strong>: {{sensor?.code || 'no data'}}<br>-->
              <strong class="text-dark">Aantal metingen</strong>: {{sensorCount || 'no data'}}<br>
              <strong class="text-dark">Eerste meting</strong>: {{sensor?.created | date:'medium'}}<br>
              <strong class="text-dark">Laatste meting</strong>: {{sensor?.run_last | date:'medium'}}<br>
              <strong class="text-dark">Beschrijving</strong>: {{sensor?.description || 'no data'}}<br>
              <strong class="text-dark">Aantekening</strong>: {{sensor?.notes || 'no data'}}<br>
            </div>
            <div class="col-md-4 px-2">

            </div>
          </div>

        </div>
      </div><!--/.card-->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-table"></i>Tabelweergave
          <div class="card-actions">
            <a class="btn-minimize" *ngIf="!hideTable" (click)="hideTable = !hideTable"><i class="fa fa-angle-up"></i></a>
            <a class="btn-close" *ngIf="hideTable" (click)="hideTable = !hideTable"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
        <div class="card-block" [ngbCollapse]="hideTable">
          <p class="card-subtitle mb-2 text-muted">R=referentie, P=vorige meting</p>
          <ngx-datatable class="material striped"
                         [rows]="sensorData"
                         [columns]="columns"
                         rowHeight="auto"
                         limit="20"
                         columnMode="force"
                         headerHeight="40"
                         footerHeight="40">
          </ngx-datatable>

          <template #dateTmpl let-row="row" let-value="value">
            <div>{{value | date : 'medium'}}</div>
          </template>

        </div>
      </div><!--/.card-->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-line-chart"></i>Referentie
          <div class="card-actions">
            <a class="btn-minimize" *ngIf="!hideRef" (click)="hideRef = !hideRef"><i class="fa fa-angle-up"></i></a>
            <a class="btn-close" *ngIf="hideRef" (click)="hideRef = !hideRef"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
        <div class="card-block" [ngbCollapse]="hideRef">
          <p class="card-subtitle mb-2 text-muted">Tijd in uren en waarden in millimeters: ∆ = waarde<sub>referentie</sub> - waarde<sub>huidig</sub></p>
          <canvas id="myChart_delta_rev" style="position: relative; height:400px; width:100%"></canvas>
        </div>
      </div><!--/.card-->
    </div>
  </div>

<!--  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-line-chart"></i>Vorige (chart.js)
          <div class="card-actions">
            <a class="btn-minimize" *ngIf="!hideRef" (click)="hideRef = !hideRef"><i class="fa fa-angle-up"></i></a>
            <a class="btn-close" *ngIf="hideRef" (click)="hideRef = !hideRef"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
        <div class="card-block" [ngbCollapse]="hideRef">
          <p class="card-subtitle mb-2 text-muted">Tijd in uren en waarden in millimeters: ∆ = waarde<sub>referentie</sub> - waarde<sub>huidig</sub></p>
          <canvas id="myChart_delta_prev" style="position: relative; height:400px; width:100%"></canvas>
        </div>
      </div>&lt;!&ndash;/.card&ndash;&gt;
    </div>
  </div>-->

<!--  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-line-chart"></i>Referentie
          <div class="card-actions">
            <a class="btn-minimize" *ngIf="!hideRef" (click)="hideRef = !hideRef"><i class="fa fa-angle-up"></i></a>
            <a class="btn-close" *ngIf="hideRef" (click)="hideRef = !hideRef"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
        <div class="card-block" [ngbCollapse]="hideRef">
          <p class="card-subtitle mb-2 text-muted">Tijd in uren en waarden in millimeters: ∆ = waarde<sub>referentie</sub> - waarde<sub>huidig</sub></p>
          <div id="linechart_delta_ref"></div>
        </div>
      </div>&lt;!&ndash;/.card&ndash;&gt;
    </div>
  </div>-->

  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<div class="card">-->
        <!--<div class="card-header">-->
          <!--<i class="fa fa-line-chart"></i>Vorige-->
          <!--<div class="card-actions">-->
            <!--<a class="btn-minimize" *ngIf="!hidePref" (click)="hidePref = !hidePref"><i class="fa fa-angle-up"></i></a>-->
            <!--<a class="btn-close" *ngIf="hidePref" (click)="hidePref = !hidePref"><i class="fa fa-angle-down"></i></a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="card-block" [ngbCollapse]="hidePref">-->
          <!--<p class="card-subtitle mb-2 text-muted">Tijd in uren en waarden in millimeters: ∆ = waarde<sub>referentie</sub> - waarde<sub>huidig</sub></p>-->
          <!--<div id="linechart_delta_prev"></div>-->
        <!--</div>-->
      <!--</div>&lt;!&ndash;/.card&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->

</div>
