<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-download"></i> Rapport
        </div>
        <!--div class="card-header">
          <button type="submit" class="btn btn-sm btn-outline-primary" (click)="selectToday()">Vandaag</button>
          <button type="button" class="btn btn-sm btn-outline-primary">Gisteren & vandaag</button>
          <button type="button" class="btn btn-sm btn-outline-primary">Deze week</button>
        </div-->
        <div class="card-block">
          <div class="row px-2">
            <form class="col-md-12" (ngSubmit)="getCSV()">
              <fieldset [disabled]="downloading">
                <div class="form-group row">
                  <label class="col-md-3 form-control-label">Type gegevens</label>
                  <div class="col-md-9">
                    <div class="radio">
                      <label class="input-primary">
                        <input type="radio" id="radio1" name="radios" [(ngModel)]="downloadType" value="overview">
                        <span>Overzicht</span>
                      </label>
                    </div>
                    <div class="radio">
                      <label class="input-primary">
                        <input type="radio" id="radio2" name="radios" [(ngModel)]="downloadType" value="detailAll"
                               checked> <span>Detail alles</span>
                      </label>
                    </div>
                    <div class="radio">
                      <label class="input-primary">
                        <input type="radio" id="radio3" name="radios" [(ngModel)]="downloadType" value="detail" checked>
                        <span>Detail periode</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row" *ngIf="downloadType == 'detail'">
                  <label class="col-sm-3 form-control-label">Start datum</label>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                             name="startDate" [(ngModel)]="startDate" ngbDatepicker [maxDate]="endDate"
                             #dStart="ngbDatepicker">
                      <div class="input-group-addon" (click)="dStart.toggle()">
                        <i class="fa fa-calendar"></i>
                      </div>
                    </div>
                    <!--<button class="btn btn-sm btn-link" type="button" (click)="startDate = getToday()">Vandaag</button>-->
                    <!--<button class="btn btn-sm btn-link" type="button" (click)="startDate = getYesterday()">Gisteren</button>-->
                    <!--<button class="btn btn-sm btn-link" type="button" (click)="startDate = getToday()">Begin v/d week</button>-->
                  </div>
                </div>
                <div class="form-group row" *ngIf="downloadType == 'detail'">
                  <label class="col-sm-3 form-control-label">Eind datum</label>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                             name="endDate" [(ngModel)]="endDate" ngbDatepicker [minDate]="startDate"
                             #dEnd="ngbDatepicker">
                      <div class="input-group-addon" (click)="dEnd.toggle()">
                        <i class="fa fa-calendar"></i>
                      </div>
                    </div>
                    <!--<button class="btn btn-sm btn-link" type="button" (click)="endDate = getToday()">Vandaag</button>-->
                    <!--<button class="btn btn-sm btn-link" type="button" (click)="endDate = getYesterday()">Gisteren</button>-->
                    <!--<button class="btn btn-sm btn-link" type="button" (click)="endDate = getToday()">Begin v/d week</button>-->
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-control-label">Instrumenten</label>
                  <div class="col-md-9">
                    <div class="radio">
                      <label class="input-primary">
                        <input type="radio" id="appliance1" name="appliance" [(ngModel)]="downloadAppliance" value="">
                        <span>Alles</span>
                      </label>
                    </div>
                    <div class="radio" *ngFor="let appliance of appliances">
                      <label class="input-primary">
                        <input type="radio" [id]="appliance.id" name="appliance" [(ngModel)]="downloadAppliance"
                               [value]="appliance.id" checked>
                        <span>{{appliance.title}} (Nr. {{appliance.identity}})</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-actions">
                  <button type="submit"
                          [disabled]="(downloadType == 'detail' && !(startDate && endDate))"
                          class="btn btn-primary">
                    <span *ngIf="!downloading"><i class="fa fa-download"></i> Download CSV </span>
                    <span *ngIf="downloading"><i class="fa fa-spinner fa-pulse fa-fw"></i> Ophalen CSV </span>
                  </button>
                </div>
              </fieldset>
            </form>

          </div>
        </div>
      </div><!--/.card-->
    </div>
  </div>

</div>
