<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card" role="button" style="height:160px;" (click)="navigateTo('sensors')">
        <div class="card-block">
          <div class="h4 m-0">{{project?.deformation_count}}</div>
          <div>Metingen</div>
          <div class="progress progress-xs my-1">
            <div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">Totaal aantal metingen uitgevoerd voor dit project</small>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card" style="height:160px;">
        <div class="card-block">
          <div class="h4 m-0">100%</div>
          <div>Server</div>
          <div class="progress progress-xs my-1">
            <div class="progress-bar bg-info" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">Server uptime</small>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card" role="button" style="height:160px;" (click)="navigateTo('sensors')">
        <div class="card-block">
          <div class="h4 m-0">{{project?.sensor_count}}</div>
          <div>Meetpunten</div>
          <div class="progress progress-xs my-1">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 77%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">Totaal aantal meetpunten voor dit project</small>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card" role="button" style="height:160px;" (click)="navigateTo('appliance')">
        <div class="card-block">
          <div class="h4 m-0">{{project?.appliance_count}}</div>
          <div>Meetinstrument(en)</div>
          <div class="progress progress-xs my-1">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">Meetinstrumenten in gebruik</small>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-home"></i> {{project?.title || 'Project ' + project?.identity}}
        </div>
        <div class="card-block">
          <div class="well">
            <strong>Project</strong>: {{project?.title || 'Project ' + project?.identity}}
            <br>
            <strong>Project nummer</strong>: {{project?.identity}}
            <br>
            <strong>Beschrijving</strong>: {{project?.description}}
            <br>
            <strong>Aantekeningen</strong>: {{project?.notes}}
            <br>
            <hr>
            <strong>Project aangemaakt</strong>: {{project?.created | date: 'mediumDate'}}
            <br>
            <strong>Aantal metingen</strong>: {{project?.deformation_count | number}}
            <br>
            <strong>Aantal meetpunten</strong>: {{project?.sensor_count | number}}
            <br>
            <strong>Aantal meetinstrumenten</strong>: {{project?.appliance_count | number}}
            <br>
            <strong>Laatste meting</strong>: {{project?.deformation_run_max | date: 'medium'}}
            <br>
            <hr>
            <strong>Telefoon</strong>: 0299 - 420808
            <br>
            <strong>E-mail</strong>:
            <a href="mailto:info@hektec.nl">
              info@hektec.nl
            </a>
          </div>
        </div>
      </div><!--/.card-->
    </div>
  </div>

</div>
