<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-feed"></i> Metingen overzicht
        </div>
        <div class="card-header">
          <div [(ngModel)]="applianceId" ngbRadioGroup name="applianceId">
            <label class="btn btn-sm btn-outline-primary">
              <input type="radio" value=""> Alles
            </label>
            <label *ngFor="let appliance of appliances" class="btn btn-sm btn-outline-primary">
              <input type="radio"
                     [value]="appliance.id"> {{appliance.title}}
            </label>
          </div>
          <div class="pull-right" *ngIf="isAdmin">
            <div class="radio">
              <label>
                <input type="checkbox" id="omit" name="omit" [(ngModel)]="showOmit"
                       value="">
                <span>Uitgesloten metingen</span>
              </label>
            </div>
          </div>
        </div>
        <div class="card-block">
          <p class="card-subtitle mb-2 text-muted">R=referentie, P=vorige meting</p>
          <div class="row">
            <div class="col-md-12">
              <ngx-datatable class="material striped"
                             [rows]="sensors"
                             [columns]="columns"
                             rowHeight="auto"
                             selectionType="multiClick"
                             limit="20"
                             columnMode="force"
                             headerHeight="40"
                             footerHeight="40">
              </ngx-datatable>

              <template #deltaTmpl let-row="row" let-value="value" let-column="column" let-i="index">
                <div *ngIf="isNumber(value)" [style.color]="getLimitColor(value, column, row)">{{value | number :
                  '1.1-1'}}
                </div>
                <div *ngIf="!isNumber(value)">...</div>
              </template>

              <template #linkTmpl let-row="row" let-value="value" let-i="index">
                <button class="btn btn-sm btn-secondary" [routerLink]="[value]">
                  <i class="fa fa-line-chart"></i><span class="hidden-lg-down"> Details</span>
                </button>
              </template>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
