<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav hidden-md-down">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">{{userName}} </a>
    </li>
    <!--<li class="nav-item hidden-md-down">-->
      <!--<a class="nav-link" href="#"><i class="fa fa-question"></i> {{userName}}</a>-->
    <!--</li>-->
  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <div *ngIf="isAdmin">
          <li class="nav-title">
            Admin
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin', 'projects']"><i
              class="fa fa-suitcase"></i>&nbsp;Projecten</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin', 'users']"><i class="fa fa-users"></i>&nbsp;Gebruikers</a>
          </li>
        </div>

        <li class="nav-title">
          Monitoring
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/monitoring', appService.projectId, 'dashboard']"><i class="fa fa-home"></i>&nbsp;Overzicht</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/monitoring', appService.projectId, 'report']"><i class="fa fa-download"></i>&nbsp;Rapport</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/monitoring', appService.projectId, 'appliance']"><i class="fa fa-map-pin"></i>&nbsp;Instrumenten</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/monitoring', appService.projectId, 'sensors']"><i
            class="fa fa-feed"></i>&nbsp;Metingen</a>
        </li>

        <li class="divider"></li>
        <li class="nav-title">
          Wisselen
        </li>
        <li class="nav-item" *ngIf="multipleProjects">
          <a class="nav-link" [routerLink]="['/pages/project']"><i class="fa fa-chain"></i>&nbsp;Projecten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pages/login']" (click)="logout()"><i class="fa fa-sign-out"></i>&nbsp;Uitloggen</a>
        </li>

      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <breadcrumbs></breadcrumbs>
    </ol>

    <div class="container-fluid animated fadeIn">
      <router-outlet></router-outlet>
    </div>
    <!-- /.conainer-fluid -->
  </main>
</div>

<footer class="app-footer">
  <a href="http://www.hektec.nl/">Hektec</a> &copy; 2017
  <span class="float-right">Powered by <a href="https://www.baasgeo.com">Baas geo-informatie</a></span>
</footer>
